body {
    color: #f3f6f9;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {
    border-radius: 200px;
    padding: 10px 23px 10px 23px;
    font-size: 15px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    background: #6532f8;
    border: 1px solid #6532f8;
  }
  .numberYear {
    padding: 10px 21px 10px 21px;
    font-size: 15px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    background: #6532f8;
    border: 1px solid #6532f8;
    border-radius: 200px;
  }
  h2 {
    font-size: 120px;
    letter-spacing: -0.04em;
    color: #f3f6f9;
  }
  .container {
    background-color: #181818;
  }
  .header {
    padding-bottom: 45px;
    padding-top: 80px;
    padding-left: 74px;
    width: 930px;
    margin: 0 auto;
  }
  .header__menu {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .movies {
    width: 930px;
    height: 986px;
    margin: 0 auto;
    padding: 60px 70px 60px 70px;
    background-color: #232323;
    border-radius: 20px 20px 0 0;
  }
  
  .movies__input-nameMovie {
    margin-bottom: 40px;
    display: flex;
  }
 
  .inputMovie {
    width: 411px;
    font-size: 30px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid #f3f6f9;
  }
  .input_btn {
    display: block;
    position: relative;
  }
  .btn-new-movie:disabled {
    cursor: default;
    opacity: 0.3;
  
  }
  .vector {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  
  .movieItem,
  .movieItem-selected {
    margin-bottom: 3px;
    display: flex;
    padding: 29px 24px 28px 20px;
    gap: 20px;
    width: 790px;
    background-color: #3a3939;
    border-radius: 10px;
  }
  .movieItem-selected {
    background-color: #181818;
    text-decoration: line-through;
    opacity: 0.3;
  }
  .btn-delete {
    width: 23px;
    height: 23px;
    background-image: url(крестик.svg);
  }

  .btn-selected,
  .btn-selected-close {
    width: 19px;
    height: 18px;
    border: 1px solid #f3f6f9;
    border-radius: 100px;
    opacity: 0.5;
    cursor: pointer;
  }
  .btn-selected-close {
    background: #6532f8;
  }
  
  .movieName {
    display: block;
    width: 670px;
    font-size: 20px;
    letter-spacing: -0.02em;
  }
  .btn-delete {
    width: 23px;
    height: 23px;
    background-image: url('/крестик.svg');
}